 # OS files
.DS_Store
Thumbs.db

# Logs
*.log

.vscode

# Environment files
.env

__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.env
.venv/

venv/

simplewiki-latest-pages-articles.xml.bz2
articles.parquet
tentative_readme.md
Playground.ipynb
wikipedia_graph.gexf
wikipedia_top10k_louvain.gexf